# OpenAI API Key (Realtime Voice Agent에 사용)
OPENAI_API_KEY=sk-proj-your_openai_api_key_here

# Supabase Project URL & Public Anon Key (Vercel 및 프론트엔드 직접 통신용)
PUBLIC_SUPABASE_URL=https://iwsvipldfphknjzyrvoj.supabase.co/rest/v1/
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml3c3ZpcGxkZnBoa25qenlydm9qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEyMzAxMDksImV4cCI6MjEwNjgwNjEwOX0.1GdzPVpNp40q2HJ7X28TdI6WP-Y5Kk0ovCrLrZinhIA
