node_modules

# Output
.output
.vercel

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.pytest_cache/
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db


# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.vercel
